:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: var(--yellow-color);
}

/* Start Navbar */
.navbar .navbar-nav .nav-link {
    color: #fff;
}

.fa-magnifying-glass {
    color: #fff;
    margin-right: 10px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}

.navbar .search {
    border-left: 1px solid var(--green-color);
    margin-left: 10px;
}

.navbar .navbar-toggler {
    color: #fff;
    font-size: 25px;
    border-color: #fff;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="ture"] {
    border-color: var(--green-color);
}

.navbar-nav .nav-item .active {
    color: #ff6347;
    font-weight: bold;
}

/* End Navbar */

/* Start Landing */

.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

/* End Landing */

/* Start Features */

.main-title::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder {
    height: 100px;
    right: 40px;
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--green-color);
    opacity: 0.1;
}
.features .icon-holder .icon {
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}

/* End Features */

/* Start Our Work */

.our-work {
    background-color: var(--section-color);
}

.our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: .3s;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.our-work .box img {
    width: 365px;
    height: 132px;
}
.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    transition: .3s;
    font-size: 1.8rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
    transform: translateX(0);
} 


/* End Our Work */

/* Start Team */

.team {
    background-color: var(--section-color);
}
.team .name {
    background-color: var(--green-color);
    color: #fff;
}

/* End Team */

/* Start Project Now */

.project-now {
    background-color: var(--dark-color);
}

/* End Project Now */

/* Start Subscribe */

.subscribe {
    background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
    border-bottom: 1px solid white;
    border: none;
    background: none;
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe ::placeholder {
    color: white;
}
.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

/* End Subscribe */

/* Start Footer */

.footer .copyright > span {
    color: var(--green-color);
}
.footer .copyright div span {
    color: var(--yellow-color);
}

.footer .contact ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 50%;
}

.footer .facebook {
    background-color: #3B5998; /* لون الخلفية الخاص بأيقونة Facebook */
}

.footer .twitter {
    background-color: #55ACEE; /* لون الخلفية الخاص بأيقونة Twitter */
}

.footer .linkedin {
    background-color: #0A66C2; /* لون الخلفية الخاص بأيقونة LinkedIn */
}

.footer .youtube {
    background-color: #CD201F; /* لون الخلفية الخاص بأيقونة YouTube */
}
/* End Footer */

/* Start Contact Us */

.form-control {
    border-radius: 10px;
    font-size: 16px;
}
.btn-dark {
    background-color: var(--red-color);
    color: var(--yellow-color);
    border: none;
    margin-bottom: 50px;
}
.btn-dark:hover {
    background-color: var(--section-color);
    color: var(--red-color);
}
.contact_us {
    background-image: url(../pages/contact-us.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    color: var(--green-color);
    font-weight: bold;
    font-size: 20px;
}
.contact_us form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}
.contact_us .form-control {
    background-color: rgba(255, 255, 255, 0.2);
}

/* End Contact Us */